<div [ngClass]="{active: isActive}">
  <img
    width="15px"
    height="15px"
    src="{{data.smallImgUrl}}"/>
  <div>{{data.date | date}}</div>
  <div>{{data.name}}</div>
  <img
    width="100px"
    height="100px"
    src="{{data.largeImageUrl}}"/>
  <div>
    {{data.text}}
  </div>
  <div>
    {{data.social.comments.count}} {{data.social.comments.points}}
  </div>
  <div>
    {{data.social.likes.count}} {{data.social.likes.points}}
  </div>
  <div>
    {{data.social.shares.count}} {{data.social.shares.points}}
  </div>
</div>
